body {
    background: #f1f3f4;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.card{
    margin-top: 50px;
}
.login-card {
    background: #fff;
    width: 100%;
    max-width: 420px;
    padding: 40px 32px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 18px;
}

label {
    font-size: 14px;
    color: #444;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

input:focus {
    outline: none;
    border-color: #1a73e8;
}

.actions {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-link {
    color: #1a73e8;
    text-decoration: none;
    font-size: 14px;
}

.btn-login {
    background: #1a73e8;
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}

.btn-login:hover {
    opacity: 0.9;
}

/* responsive nhỏ */
@media(max-width:480px) {
    .login-card {
        padding: 28px 20px;
    }
}