<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Lịch sử hình thành</title>
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

        <!-- CSS riêng -->
        <link rel="stylesheet" href="/css/khachHang/thongTin.css">
        <link rel="stylesheet" href="/css/khachHang/home.css">

    </head>


    <body>

        <!-- ===== IMPORT HEADER TRANG CHỦ ===== -->
        <%- include('./header') %>


        <!-- ===== CONTENT ===== -->
        <section class="history-wrapper container">

            <div class="history-card">

                <div class="history-title">
                    Lịch sử hình thành và phát triển Bệnh viện Đa khoa Thành phố Cần Thơ
                </div>

                <p>
                    Bệnh viện Đa khoa thành phố Cần Thơ là BV hạng I, cấp chuyên sâu quy mô 830 giường
                    với đội ngũ nhân viên hơn 900 người. Bệnh viện có 36 khoa, phòng. Trong đó:
                    9 phòng chức năng, 06 khoa cận lâm sàng và 21 khoa lâm sàng.
                </p>

                <h6>1. Quá trình thành lập</h6>

                <p>
                    BVĐKTP Cần Thơ có một bề dày lịch sử xây dựng và phát triển gắn liền với những thay đổi
                    về chính trị và chia tách địa giới hành chính của tỉnh Cần Thơ.
                </p>

                <p>
                    Trước ngày giải phóng miền Nam 30-4-1975, tại vị trí số 4, đường Châu Văn Liêm hiện nay,
                    BV trung tâm của tỉnh Phong Dinh nay là thành phố Cần Thơ có tên gọi là Bệnh viện Thủ khoa Nghĩa.
                </p>

                <p>
                    Bệnh viện Thủ khoa Nghĩa được xây dựng từ năm 1895 trên diện tích 2,6ha, quy mô 200 giường bệnh.
                    Đây là bệnh viện lớn nhất khu vực, trực thuộc Bộ Y tế Sài Gòn và là cơ sở thực tập cho sinh viên
                    y khoa năm thứ 6 Trường Đại học Y Dược Sài Gòn gửi về.
                </p>

                <p>
                    Sau chiến thắng lịch sử giải phóng miền Nam, vào ngày 5-5-1975, đoàn tiếp quản của Sở Y tế khu Tây Nam bộ
                    tiếp quản BV Thủ khoa Nghĩa đổi tên thành BV ĐK khu Tây Nam bộ.
                </p>

                <p>
                    Vào ngày 4-3-1976, Quốc hội nước CHXHCN Việt Nam quyết định nhập 2 tỉnh Cần Thơ và Sóc Trăng thành tỉnh Hậu Giang,
                    BVĐK Tây Nam bộ được đổi tên thành BV Đa khoa Hậu Giang. Số giường chức năng lên 550 giường,
                    phục vụ điều trị cho nhân dân cả khu vực.
                </p>

                <p>
                    Đến năm 1992, tỉnh Hậu Giang tách ra thành 2 tỉnh Cần Thơ và Sóc Trăng, BV Đa khoa Hậu Giang
                    lại đổi tên thành BVĐK Cần Thơ. Lúc này, BVĐK Cần Thơ đã đào tạo được lực lượng bác sĩ có tay nghề chuyên môn cao
                    nên thu hút rất đông bệnh nhân các tỉnh ĐBSCL. Số giường bệnh đã được nâng lên 600 giường.
                </p>

                <p>
                    Năm 2004, tỉnh Cần Thơ tiếp tục chia tách thành tỉnh Hậu Giang và thành phố Cần Thơ,
                    đô thị trực thuộc Trung ương. Ngày 22-11-2004, UBND thành phố Cần Thơ đã ban hành công văn
                    chỉ đạo khảo sát bệnh viện đa khoa cũ để xây dựng BVĐKTP Cần Thơ đảm bảo đáp ứng yêu cầu khám chữa bệnh,
                    chăm sóc sức khỏe nhân dân thành phố Cần Thơ.
                </p>

            </div>

        </section>

        <%- include('./footer') %>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    </body>
</html>